[submodule "packages/active-entry"]
    path = packages/active-entry
    url = git://github.com/clinical-meteor/active-entry.git
[submodule "packages/active-layout"]
    path = packages/active-layout
    url = git://github.com/clinical-meteor/active-layout.git
[submodule "packages/active-users"]
    path = packages/active-users
    url = git://github.com/clinical-meteor/active-users.git
[submodule "packages/autoform"]
    path = packages/autoform
    url = git://github.com/clinical-meteor/autoform.git
[submodule "packages/autoform-builder"]
    path = packages/autoform-builder
    url = git://github.com/clinical-meteor/autoform-builder.git
[submodule "packages/auto-resizing"]
    path = packages/auto-resizing
    url = git://github.com/clinical-meteor/auto-resizing.git
[submodule "packages/base-model"]
    path = packages/base-model
    url = git://github.com/clinical-meteor/base-model.git
[submodule "packages/collaborations"]
    path = packages/collaborations
    url = git://github.com/clinical-meteor/collaborations.git
[submodule "packages/collaborations-ui"]
    path = packages/collaborations-ui
    url = git://github.com/clinical-meteor/collaborations-ui.git
[submodule "packages/csv"]
    path = packages/csv
    url = git://github.com/clinical-meteor/csv.git
[submodule "packages/device"]
    path = packages/device
    url = git://github.com/clinical-meteor/device.git
[submodule "packages/env"]
    path = packages/env
    url = git://github.com/clinical-meteor/env.git
[submodule "packages/error-pages"]
    path = packages/error-pages
    url = git://github.com/clinical-meteor/error-pages.git
[submodule "packages/extended-api"]
    path = packages/extended-api
    url = git://github.com/clinical-meteor/extended-api.git
[submodule "packages/fonts"]
    path = packages/fonts
    url = git://github.com/clinical-meteor/fonts.git
[submodule "packages/glass-ui"]
    path = packages/glass-ui
    url = git://github.com/clinical-meteor/glass-ui.git
[submodule "packages/graphs-dailystats"]
    path = packages/graphs-dailystats
    url = git://github.com/clinical-meteor/graphs-dailystats.git
[submodule "packages/hipaa-audit-log"]
    path = packages/hipaa-audit-log
    url = git://github.com/clinical-meteor/hipaa-audit-log.git
[submodule "packages/hipaa-logger"]
    path = packages/hipaa-logger
    url = git://github.com/clinical-meteor/hipaa-logger.git
[submodule "packages/json-data-utilities"]
    path = packages/json-data-utilities
    url = git://github.com/clinical-meteor/json-data-utilities.git
[submodule "packages/keybindings"]
    path = packages/keybindings
    url = git://github.com/clinical-meteor/keybindings.git
[submodule "packages/mobile"]
    path = packages/mobile
    url = git://github.com/clinical-meteor/mobile.git
[submodule "packages/modals"]
    path = packages/modals
    url = git://github.com/clinical-meteor/modals.git
[submodule "packages/offline"]
    path = packages/offline
    url = git://github.com/clinical-meteor/offline.git
[submodule "packages/roles"]
    path = packages/roles
    url = git://github.com/clinical-meteor/roles.git
[submodule "packages/router"]
    path = packages/router
    url = git://github.com/clinical-meteor/router.git
[submodule "packages/router-location"]
    path = packages/router-location
    url = git://github.com/clinical-meteor/router-location.git
[submodule "packages/router-middleware-stack"]
    path = packages/router-middleware-stack
    url = git://github.com/clinical-meteor/router-middleware-stack.git
[submodule "packages/router-url"]
    path = packages/router-url
    url = git://github.com/clinical-meteor/router-url.git
[submodule "packages/schema-hydrator"]
    path = packages/schema-hydrator
    url = git://github.com/clinical-meteor/schema-hydrator.git
[submodule "packages/simple-layout"]
    path = packages/simple-layout
    url = git://github.com/clinical-meteor/simple-layout.git
[submodule "packages/study-picklist"]
    path = packages/study-picklist
    url = git://github.com/clinical-meteor/study-picklist.git
[submodule "packages/theming"]
    path = packages/theming
    url = git://github.com/clinical-meteor/theming.git
[submodule "packages/theming-ui"]
    path = packages/theming-ui
    url = git://github.com/clinical-meteor/theming-ui.git
[submodule "packages/user-model"]
    path = packages/user-model
    url = git://github.com/clinical-meteor/user-model.git
[submodule "packages/users-picklist"]
    path = packages/users-picklist
    url = git://github.com/clinical-meteor/users-picklist.git



[submodule "examples-blaze/clinical-scheduling"]
    path = examples-blaze/clinical-scheduling
    url = https://github.com/awatson1978/clinical-scheduling.git
[submodule "examples-blaze/dropzone-ui"]
    path = examples-blaze/dropzone-ui
    url = https://github.com/awatson1978/dropzone-ui
[submodule "examples-blaze/app-support-forum"]
    path = examples-blaze/app-support-forum
    url = https://github.com/clinical-meteor/app-support-forum
[submodule "examples-blaze/clinical-trials"]
    path = examples-blaze/clinical-trials
    url = https://github.com/awatson1978/clinical-trials.git
[submodule "examples-blaze/image-link-archive"]
    path = examples-blaze/image-link-archive
    url = https://github.com/awatson1978/image-link-archive.git
[submodule "examples-blaze/green-eggs-and-spam"]
    path = examples-blaze/green-eggs-and-spam
    url = https://github.com/awatson1978/green-eggs-and-spam



[submodule "examples-blaze/exec-command-line-from-ui"]
	path = examples-blaze/exec-command-line-from-ui
    url = https://github.com/awatson1978/exec-command-line-from-ui
[submodule "examples-blaze/leaflet-parties"]
	path = examples-blaze/leaflet-parties
    url = https://github.com/awatson1978/leaflet-parties
[submodule "examples-blaze/minimongo-table"]
	path = examples-blaze/minimongo-table
    url = https://github.com/awatson1978/minimongo-table
[submodule "examples-blaze/rest-analytics-pipeline"]
	path = examples-blaze/rest-analytics-pipeline
    url = https://github.com/awatson1978/rest-analytics-pipeline
[submodule "examples-blaze/rest-api"]
	path = examples-blaze/rest-api
    url = https://github.com/awatson1978/rest-api
[submodule "examples-blaze/Rocket.Chat"]
	path = examples-blaze/Rocket.Chat
    url = https://github.com/RocketChat/Rocket.Chat
[submodule "examples-blaze/plant-almanac"]
	path = examples-blaze/plant-almanac
    url = https://github.com/awatson1978/plant-almanac
[submodule "examples-blaze/dental-svg"]
	path = examples-blaze/dental-svg
	url = https://github.com/proehlen/meteor-demo-svg-subs-pure-blaze
[submodule "examples-blaze/nvd3-statistics"]
	path = examples-blaze/nvd3-statistics
	url = https://github.com/clinical-meteor/nvd3-statistics-meteor-blaze
[submodule "examples-blaze/payment-subscription"]
	path = examples-blaze/payment-subscription
	url = https://github.com/awatson1978/payment-subscription
[submodule "examples-blaze/personal-health-record"]
	path = examples-blaze/personal-health-record
	url = https://github.com/clinical-meteor/personal-health-record
[submodule "examples-blaze/pulse"]
	path = examples-blaze/pulse
	url = https://github.com/firdausramlan/pulse
[submodule "examples-blaze/reductionism"]
	path = examples-blaze/reductionism
	url = https://github.com/awatson1978/reductionism
[submodule "examples-blaze/timeline"]
	path = examples-blaze/timeline
	url = https://github.com/AntoBase/timeline




[submodule "utilities/starrynight"]
    path = utilities/starrynight
    url = https://github.com/awatson1978/starrynight
[submodule "utilities/cornerstone"]
	path = utilities/cornerstone
	url = https://github.com/chafey/cornerstone
[submodule "utilities/tensorflow"]
	path = utilities/tensorflow
	url = https://github.com/tensorflow/tensorflow

[submodule "examples-react/meteor-on-fhir"]
	path = examples-react/meteor-on-fhir
	url = https://github.com/clinical-meteor/meteor-on-fhir
[submodule "examples-react/my-nutrition"]
	path = examples-react/my-nutrition
	url = https://github.com/djhi/my-nutrition
[submodule "examples-react/eactconf-2015"]
	path = examples-react/reactconf-2015
	url = https://github.com/ryanflorence/reactconf-2015-HYPE
[submodule "examples-react/tmeline"]
	path = examples-react/timeline
	url = https://github.com/AntoBase/timeline
[submodule "examples-react/todos"]
	path = examples-react/todos
	url = https://github.com/meteor/todos
[submodule "examples-react/todo-list"]
	path = examples-react/todo-list
	url = https://github.com/grigio/todomvc-meteor-react






[submodule "fhir-resources/hl7-resource-appointment"]
	path = fhir-resources/hl7-resource-appointment
	url = http://github.com/clinical-meteor/hl7-resource-appointment
[submodule "fhir-resources/hl7-resource-careplan"]
	path = fhir-resources/hl7-resource-careplan
	url = http://github.com/clinical-meteor/hl7-resource-careplan
[submodule "fhir-resources/hl7-resource-condition"]
	path = fhir-resources/hl7-resource-condition
	url = http://github.com/clinical-meteor/hl7-resource-condition
[submodule "fhir-resources/hl7-resource-datatypes"]
	path = fhir-resources/hl7-resource-datatypes
	url = http://github.com/clinical-meteor/hl7-resource-datatypes
[submodule "fhir-resources/hl7-resource-device"]
	path = fhir-resources/hl7-resource-device
	url = http://github.com/clinical-meteor/hl7-resource-device
[submodule "fhir-resources/hl7-resource-diagnostic-report"]
	path = fhir-resources/hl7-resource-diagnostic-report
	url = http://github.com/clinical-meteor/hl7-resource-diagnostic-report
[submodule "fhir-resources/hl7-resource-encounter"]
	path = fhir-resources/hl7-resource-encounter
	url = http://github.com/clinical-meteor/hl7-resource-encounter
[submodule "fhir-resources/hl7-resource-family-member-history"]
	path = fhir-resources/hl7-resource-family-member-history
	url = http://github.com/clinical-meteor/hl7-resource-family-member-history
[submodule "fhir-resources/hl7-resource-healthcare-service"]
	path = fhir-resources/hl7-resource-healthcare-service
	url = http://github.com/clinical-meteor/hl7-resource-healthcare-service
[submodule "fhir-resources/hl7-resource-imaging-study"]
	path = fhir-resources/hl7-resource-imaging-study
	url = http://github.com/clinical-meteor/hl7-resource-imaging-study
[submodule "fhir-resources/hl7-resource-location"]
	path = fhir-resources/hl7-resource-location
	url = http://github.com/clinical-meteor/hl7-resource-location
[submodule "fhir-resources/hl7-resource-medication"]
	path = fhir-resources/hl7-resource-medication
	url = http://github.com/clinical-meteor/hl7-resource-medication
[submodule "fhir-resources/hl7-resource-medication-order"]
	path = fhir-resources/hl7-resource-medication-order
	url = http://github.com/clinical-meteor/hl7-resource-medication-order
[submodule "fhir-resources/hl7-resource-observation"]
	path = fhir-resources/hl7-resource-observation
	url = http://github.com/clinical-meteor/hl7-resource-observation
[submodule "fhir-resources/hl7-resource-order"]
	path = fhir-resources/hl7-resource-order
	url = http://github.com/clinical-meteor/hl7-resource-order
[submodule "fhir-resources/hl7-resource-organization"]
	path = fhir-resources/hl7-resource-organization
	url = http://github.com/clinical-meteor/hl7-resource-organization
[submodule "fhir-resources/hl7-resource-patient"]
	path = fhir-resources/hl7-resource-patient
	url = http://github.com/clinical-meteor/hl7-resource-patient
[submodule "fhir-resources/hl7-resource-person"]
	path = fhir-resources/hl7-resource-person
	url = http://github.com/clinical-meteor/hl7-resource-person
[submodule "fhir-resources/hl7-resource-practitioner"]
	path = fhir-resources/hl7-resource-practitioner
	url = http://github.com/clinical-meteor/hl7-resource-practitioner
[submodule "fhir-resources/hl7-resource-procedure"]
	path = fhir-resources/hl7-resource-procedure
	url = http://github.com/clinical-meteor/hl7-resource-procedure
[submodule "fhir-resources/hl7-resource-questionnaire"]
	path = fhir-resources/hl7-resource-questionnaire
	url = http://github.com/clinical-meteor/hl7-resource-questionnaire
[submodule "fhir-resources/hl7-resource-questionnaire-response"]
	path = fhir-resources/hl7-resource-questionnaire-response
	url = http://github.com/clinical-meteor/hl7-resource-questionnaire-response
[submodule "fhir-resources/hl7-resource-related-person"]
	path = fhir-resources/hl7-resource-related-person
	url = http://github.com/clinical-meteor/hl7-resource-related-person
[submodule "fhir-resources/hl7-resource-risk-assessment"]
	path = fhir-resources/hl7-resource-risk-assessment
	url = http://github.com/clinical-meteor/hl7-resource-risk-assessment
[submodule "fhir-resources/hl7-resource-sequence"]
	path = fhir-resources/hl7-resource-sequence
	url = http://github.com/clinical-meteor/hl7-resource-sequence
[submodule "fhir-resources/hl7-resource-specimen"]
	path = fhir-resources/hl7-resource-specimen
	url = http://github.com/clinical-meteor/hl7-resource-specimen
[submodule "utilities/material-fhir-ui"]
	path = utilities/material-fhir-ui
	url = https://github.com/clinical-meteor/software-development-kit
[submodule "utilities/mongo"]
	path = utilities/mongo
	url = https://github.com/mongodb/mongo
[submodule "utilities/mupx"]
	path = utilities/mupx
	url = https://github.com/arunoda/meteor-up-legacy
[submodule "utilities/snomed-ct-rest-api"]
	path = utilities/snomed-ct-rest-api
	url = https://github.com/IHTSDO/sct-snapshot-rest-api
[submodule "utilities/silver-decisions"]
	path = utilities/silver-decisions
	url = https://github.com/bkamins/SilverDecisions
[submodule "utilities/gql-fhir"]
	path = utilities/gql-fhir
	url = https://github.com/shalkam/gql-fhir
[submodule "utilities/synthea"]
	path = utilities/synthea
	url = https://github.com/synthetichealth/synthea
[submodule "examples-react/meteor-on-fhir/webapp/packages/accounts-famous-dead-people"]
	path = examples-react/meteor-on-fhir/webapp/packages/accounts-famous-dead-people
	url = https://github.com/clinical-meteor/accounts-famous-dead-people
[submodule "examples-blaze/clinical-trials/packages/active-entry"]
	path = examples-blaze/clinical-trials/packages/active-entry
	url = https://github.com/clinical-meteor/entry
[submodule "examples-blaze/clinical-trials/packages/hipaa-audit-log"]
	path = examples-blaze/clinical-trials/packages/hipaa-audit-log
	url = https://github.com/clinical-meteor/hipaa-audit-log
[submodule "utilities/simpleddp"]
	path = utilities/simpleddp
	url = https://github.com/Gregivy/simpleddp
[submodule "utilities/qewd"]
	path = utilities/qewd
	url = https://github.com/robtweed/qewd
[submodule "utilities/simpl-schema"]
	path = utilities/simpl-schema
	url = https://github.com/aldeed/simple-schema-js
[submodule "utilities/phx-tools"]
	path = utilities/phx-tools
	url = https://github.com/Asymmetrik/phx-tools
[submodule "utilities/typescript-fhir-types"]
	path = utilities/typescript-fhir-types
	url = https://github.com/Ahryman40k/typescript-fhir-types
[submodule "utilities/fhir-js"]
	path = utilities/fhir-js
	url = https://github.com/FHIR/fhir.js
