<template name="periodicTablePage">
  <article id="periodicTablePage" class="page">

    <input id="elementSearchInput" type="text" class="glass fullwidth form-control" placeholder="search..." value="{{getElementSearchFilter}}" />

    <ul id="elementImageGrid">
      {{#each lists}}
      <li class="helveticas">
        <span class="atomicNumberText">{{atomicNumber}}</span><br>
        <h1 class="center">{{symbol}}</h1>
        <h5 class="center">
          {{name}}<br>
          {{atomicMass}}<br>
        </h5>
      </li>
      {{/each}}
    </ul>
  </article>
</template>
