<template name="environmentsSection">
  <section id="environmentsSection">

        <h2><b>Environments</b></h2>
        <hr>
        <p>
          The <code>--framework nightwatch</code> flag enables pass-through arguments to Nightwatch, meaning you can use the <code>--env</code> argument, and specify one of the <code>test_settings</code> defined in your <code>.meteor/nightwatwch.json</code> file.

        </p>

          {{#prism language="bash" class="line-numbers"}}
            # run all the tests/nightwatch files using the default chrome environment
            starrynight run-tests --framework nightwatch

            # silently run tests gathered from throughout the app
            starrynight run-tests --framework nightwatch --env phantomjs

            # run tests on a SaaS provider cloud
            starrynight run-tests --framework nightwatch --env browserstack
            starrynight run-tests --framework nightwatch --env saucelabs

            # run tests on a continuous integration service
            starrynight run-tests --framework nightwatch --env travis

            # run unittests with the application not running
            starrynight run-tests --framework nightwatch --env unittests
          {{/prism}}




          <h2 id="phantomTests">Phantom Tests</h2>
          <hr>
          You can run your tests silently by adding the following configuration object to your <code>.meteor/nightwatch.json</code> config file.  StarryNight ships with PhantomJS, so simply add a <code>phantomjs</code> object to your <code>test_settings</code> in your config file...

          {{#prism language="bash" class="line-numbers"}}
            "test_settings" : {
              "phantomjs" : {
                "desiredCapabilities" : {
                  "browserName" : "phantomjs",
                  "javascriptEnabled": true,
                  "phantomjs.binary.path" : "${npm_config_prefix}/lib/node_modules/starrynight/node_modules/phantomjs/bin/phantomjs"
                }
              }
            }
          {{/prism}}

          <p>
            And then run StarryNight using the <code>phantomjs</code> environment.  (You can name the environment whatever you want; the <code>phantomjs</code> name is what's specified above.)
          </p>

          {{#prism language="bash" class="line-numbers"}}
            # silently run tests gathered from throughout the app
            starrynight run-tests --framework nightwatch --env phantomjs
          {{/prism}}


          <h2 id="cloudProviders">Cloud Providers (Selenium Grid)</h2>
          <hr>
          Selenium can be run in a cloud service mode using Selenium Grid.  There are a couple popular platform-as-a-service companies; the most popular of which include <a href="https://www.browserstack.com/">BrowserStack</a> and <a href="https://saucelabs.com/">SauceLabs</a>.

          {{#prism language="bash" class="line-numbers"}}
            "selenium" : {
              "start_process" : false,
              "host" : "hub.browserstack.com",
              "port" : 80,
            },

            "test_settings" : {
              "browserstack" : {
                "launch_url" : "http://hub.browserstack.com",
                "selenium_port"  : 80,
                "selenium_host"  : "hub.browserstack.com",
                "silent": true,
                "screenshots" : {
                  "enabled" : false,
                  "path" : "",
                },
                "desiredCapabilities": {
                  "browserName": "firefox",
                  "javascriptEnabled": true,
                  "acceptSslCerts": true,
                  "browserstack.user": "USERNAME",
                  "browserstack.key": "KEY"
                }
              },
              "saucelabs" : {
                "selenium_host" : "ondemand.saucelabs.com",
                "selenium_port" : 80,
                "username": "${sauce_user}",
                "access_key": "${sauce_key}",
                "use_ssl" : false,
                "silent" : true,
                "output" : true,
                "screenshots" : {
                  "enabled" : false,
                  "path" : ""
                },
                "desiredCapabilities": {
                  "name" : "test-example",
                  "browserName": "chrome",
                  "tunnel-identifier" : "${tunnel_id}"
                },

                "selenium" : {
                  "start_process" : false
                }
              }
            }
          {{/prism}}

          <p>
            The above configuration will enable the following commands to connect Nightwatch to your cloud account.
          </p>

          {{#prism language="bash" class="line-numbers"}}
            # run tests on a SaaS provider cloud
            starrynight run-tests --framework nightwatch --env browserstack
            starrynight run-tests --framework nightwatch --env saucelabs
          {{/prism}}


      <h2 id="continuousIntegration">Continuous Integration</h2>
      <hr>
      StarryNight and Nightwatch can be used in many continuous integration environments, such as Travis CI and Circle CI.  After setting up your account with Travis CI, and enabling the Travis webhook in your GitHub repository, you then need to add a <code>.travis.yml</code> file to your repository.  It needs to be in the root of your application, and for clarity sake, we find it best to keep the meteor application within a subdirectory.  Take a look at the <a href="/scaffolding">Reference Scaffold</a>, which shows the directory structure we find most useful, and which this <code>.travis.yml</code> file is designed for.

      {{#prism language="bash" class="line-numbers"}}
          # this travis.yml file is for the leaderboard-nightwatch example, when run standalone
          language: node_js

          node_js:
            - "0.10.38"

          services:
            - mongodb

          sudo: required

          env:
            global:
              - TRAVIS=true
              - CONFIG_PREFIX=`npm config get prefix`
              - DISPLAY=:99.0
            matrix:

          cache:
            directories:
              - .meteor/local/build/programs/server/assets/packages
              - .meteor

          before_install:
            # set up the node_modules dir, so we know where it is
            - "mkdir -p node_modules &"

            # install starrynight, so we can launch nightwatch and selenium
            - "npm install -g starrynight"

            # fire up xvfb on port :99.0
            - "sh -e /etc/init.d/xvfb start"

            # set the xvfb screen size to 1280x1024x16
            - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16"

            # install meteor
            - "curl https://install.meteor.com | /bin/sh"

            # give meteor a few seconds after installing
            - "sleep 10"

            # setup Meteor app
            - "cd webapp"
            - "meteor &"

            # give Meteor some time to download packages, init data, and to start
            - "sleep 60"

          # we're not installing starrynight globally, so we run the script from the local node_modules folder
          script: "starrynight run-tests --framework nightwatch"
      {{/prism}}

      <p>
        StarryNight can generate the above file for you, by using the following command:
      </p>
      {{#prism language="bash" class="line-numbers"}}
        starrynight generate-travis
      {{/prism}}

      <h2>Contributing Environment Configs</h2>
      <hr>
      <p>
        The .travis.yml file that's included by default is pretty well baked.  In general, I won't accept pull-requests that modify it.  Rather, feel free to tinker with it, and if there are alternative configs that you find useful, submit them in a PR as a separate file, and we can add some flags to the `starrynight generate-travis` command, and adjust it's API to load the different config files.  I'd be more than happy to accept any pull requests with config files for Circle CI, other CI hosting providers, TinyTest/mUnit CI scripts, etc. etc.  Hopefully we can get an API along the lines of:
      </p>
      {{#prism language="bash" class="line-numbers"}}
        $ starrynight ci-config --provider circle --framework tinytest
        $ starrynight ci-config --provider travis --framework nightwatch
      {{/prism}}





  </section>
</template>
