<template name="introductionSection">
  <section id="introductionSection">
    <h2 id="fdaTitle"><b>FDA Title 21</b></h2>
    <hr>
    <p>
      The U.S. Food and Drug Administration specifies in the <a href="http://www.accessdata.fda.gov/scripts/cdrh/cfdocs/cfcfr/CFRSearch.cfm?fr=820.75">Code of Federal Regulations Title 21, § 820.75</a> (hereafter referred to as 21CFR820.75) that medical devices require both <b>verification</b> and <b>validation</b> testing.  These terms comes from the field of process engineering (think Six Sigma), and are known in the software industry as <b>unit testing</b> and <b>acceptance testing</b>.  StarryNight is the culmination of two years of work towards getting Meteor apps FDA certified, and we'll use those terms extensively through this documentation and within the utility itself.  For more information, please see <a href="http://www.fda.gov/downloads/RegulatoryInformation/Guidances/ucm126955.pdf">General Principles of Software Validation; Final Guidance for Industry and FDA Staff</a>
    </p>

    <h2>Validation vs Verification Testing</h2>
    <hr>
    <p>
      If you're not familiar with the terms Validation testing and Verification testing, simply think of it in terms of black-box testing.  As far as the FDA is concerned, your application is a black box.  Validation tests deal with the external factors which may affect a user or consumer; whereas Verification tests deal with internal factors of the system.  21CFR820.75 specifically states that it is not sufficient to have one or the other; but that a product must have <b>both</b> types of testing to pass FDA regulatory review.
    </p>

    <img id="validationVsVerification" src="/architectureDiagrams/VerificationVsValidation.png" class="tutorialImage" />

    <p>
      Validation testing, therefore, includes acceptance testing, user testing, beta testing, and load testing.  Whereas verification testing includes unit testing and integration testing.
    </p>

    <h2>Testing Modes</h2>
    <hr>
    <p>
      StarryNight combines functionality from a number of testing libraries, some of which overlap.  Rather than specifying a particular test framework to use; it's often benefitial to specify which part of the architecture you want to test.  Which is what Test Modes provide.  A way to specify which part of the architecture your reviewing for FDA compliance.
      <br><br>
      <b>Note:  these testing modes are not entirely implemented yet.</b>
    </p>
    <div class="left-padded">
      <!-- <p class="gray">
        <b>all</b><br>
        Alias for running both validation and verification tests.
      </p> -->
      <p>
        <b>validation</b><br>
        Also known as black-box or acceptance testing.  Uses the Nightwatch framework.
      </p>
      <p>
        <b>verification</b><br>
        Also known as unit-testing or integration testing.  Uses the Gagarin framework.
      </p>
      <p>
        <b>package-verification</b><br>
        Integration testing of Meteor packages using Gagarin.
      </p>
      <!-- <p class="gray">
        <b>package-validation</b><br>
        Acceptance testing of Meteor packages using an automated browser controlled by Selenium.
      </p>
      <p class="gray">
        <b>server-verification</b><br>
        Unit testing of Meteor server code using Mocha syntax.
      </p>
      <p class="gray">
        <b>client-verification</b><br>
        Unit testing of Meteor client code using Nightwatch and Chai syntax.
      </p>
      <p class="gray">
        <b>client-validation</b><br>
        Acceptance testing of Meteor client code using an automated browser controlled by Selenium.
      </p> -->
    </div>
  </section>
</template>
