<template name="miscellaneousSection">
  <section id="miscellaneousSection">
    <h2><b>Miscellaneous</b></h2>

<!--

    <h2 id="restApi">Testing REST APIs</h2>
    <hr>
    <p>
      Restful APIs patterns can be specified either on the same route with GET, PUT, POST, DELETE, and OPTION methods; or they can be specified on separate routes using GET methods.
    </p>
      {{#prism language="javascript" class="line-numbers"}}
          module.exports = {
            "Rest API" : function (client) {
              client
                .url("http://localhost:3000/foo")

                .url("http://localhost:3000/bar")

                .url("http://localhost:3000/foo/post")
                .end();
            }
          };
      {{/prism}}


    <h2>Multi-Window PingPong Testing</h2>
    <hr>
    <p>
      {{#prism language="javascript" class="line-numbers"}}

      {{/prism}}
    </p> -->

    <h2 id="fileUpload">File Uploads</h2>
    <hr>
    <p>
      To upload a file, you'll first need to create a /data directory, and add the file you'll want to upload.
      {{#prism language="bash" class="line-numbers"}}
        tests/nightwatch/data/IM-0001-1001.dcm
      {{/prism}}

      Your form will need an input with type of file.  (Some people don't like the styling options this input provides; and a common pattern is to make this input hidden; and to have another button on the page click it on behalf of the user.)
      {{#prism language="blaze" class="line-numbers"}}
        <input type="file" id="fileUpload">
      {{/prism}}

      Your tests will then need to use setValue() and resolve the path to the local file asset.
      {{#prism language="javascript" class="line-numbers"}}
        module.exports = {
          "Upload Study" : function (client) {
            console.log(require('path').resolve(__dirname +  '/../data' ));
            client
              .verify.elementPresent("input#fileUpload")
              .setValue('input#fileUpload', require('path').resolve(__dirname + '/../data/IM-0001-1001.dcm'))
          }
        };
      {{/prism}}
    </p>


  </section>
</template>
