<template name="validationSection">
  <section id="validationSection">
    <h2><b>Validation Testing</b></h2>

    <h2 id="appSurfaceCoverage">App Surface Coverage</h2>
    <hr>
    <p>
      At it's most basic level, validation testing is essentially black-box testing, which is fundamentally concerned with testing inputs and outputs of a closed system. As such, there are three essential features to acceptance testing: locating a resource, reading data, and writing data. When it comes to browsers and webapps, these three features basically boil down to the following:
    </p>
    <ol>
      <li>Load a webpage or application view</li>
      <li>Inspect user interface elements (i.e. DOM)</li>
      <li>Trigger an event / simulate a user interaction</li>
    </ol>
    <p>
      We call this the surface area of the application.  Surface area is anything that a user sees or experiences.  It's the outside of a blackbox system.  And since users interact with modern web applications on video screens using web browsers, our surface coverage is defined by universal resource locators (URLs) and pixel grids (which we call Views).

      And so our very first walkthrough starts off looking something like the following:
    </p>
      {{#prism language="javascript" class="line-numbers"}}
module.exports = {
  "Hello World" : function (client) {
    client
      // our location
      .url("http://localhost:3000")

      // the pixel grid that's displayed via the screen viewport
      .resizeWindow(1024, 768)

      // test app output
      .verify.elementPresent('h1')
      .verify.containsText('h1', "Welcome to Meteor!")
      .verify.containsText('p', "You've pressed the button 0 times")
      .verify.elementPresent('button')

      // simulate user input
      .click('button').pause(500)

      // test app output again, to make sure input worked
      .verify.containsText('p', "button 1 times")

      // saving a copy of our viewport pixel grid
      .saveScreenshot('tests/nightwatch/screenshots/homepage.png')
      .end();
  }
};
      {{/prism}}
      <p>
        Note: The above example can be run
      </p>



    <h2 id="componentSurfaceCoverage">Component Surface Coverage</h2>
    <hr>
    <p>
      Pixel grids and matrices can obviously have partial grids and submatrices, which we refer to as Components.  These can be web components, blaze components, react components, or any number of other technologies.  But they all wind up grabbing some pixesl on the screen, and doing some stuff behind the scenes with the database, network, etc.  To that extent, a Component may have surface area that's not exposed to the outside of the black box; but which is still the surface of that component.  And that surface area needs to be tested also.
      <br><br>
      Typically, for any given component, we have to concern ourselves with:

    </p>
    <ul>
      <li>isomorphic objects</li>
      <li>url routes / rest api</li>
      <li>remote procedure calls</li>
      <li>user haptics (component input)</li>
      <li>screen rendering (component output)</li>
      <li>network access</li>
      <li>database storage</li>
    </ul>


    <h2 id="componentOutput">Testing Component Output</h2>
    <hr>
    <p>
      The browser uses a document object model to render pixels the screen's viewport; so our componet testing begins by validating which elements within the DOM.  Here, we're going to define a <b>command</b>, which works similar to a macro, and allows us to modularize our testing code, and create a tiny macro to make sure that everything in the component is there.  In this example, we're testing that all the elements exist on a sign-in page.
    </p>
    {{#prism language="javascript" class="line-numbers"}}
      exports.command = function(username, password) {
        this
          .waitForElementVisible('#entrySignIn', 1000)
            .verify.elementPresent("#signInPageTitle")
            .verify.elementPresent("#signInPageMessage")
            .verify.elementPresent("#signInPageEmailInput")
            .verify.elementPresent("#signInPagePasswordInput")
            .verify.elementPresent("#signInToAppButton")
            .verify.elementPresent("#needAnAccountButton")

            .verify.containsText("#signInPageTitle", "Sign In")
            .verify.containsText("#signInPageMessage", "Improve your clincal practice with checklists.")

        return this;  // allows the command to be chained.
      };
    {{/prism}}

    <p>
      Writing the above code can become tedious.  Which is why StarryNight provides an <code>extract-tests-for</code> command that will help generate component coverage files.  Just be sure to add an <b>id</b> to any element you want to audit while you're coding up your HTML.
    </p>

    {{#prism language="bash" class="line-numbers"}}
starrynight extract-tests-for path/to/component.html > path/to/component/.tests/reviewComponent.js
    {{/prism}}




    <h2 id="componentInput">Testing Component User Input</h2>
    <hr>
    <p>
      Testing component input generally involves simulating keystrokes, mouse clicks, and other haptic interfaces.  Most often, we're concerend with simulating key presses,  entering data into inputs, and clicking on buttons and other elements.
    </p>
    {{#prism language="javascript" class="line-numbers"}}
      exports.command = function(username, password) {

        this
          .verify.elementPresent('#entrySignIn')

            // we clear the input in case there's any data remaining from previous visits
            .clearValue("#signInPageEmailInput")
            .clearValue("#signInPagePasswordInput")

            // we simulate key presses
            .setValue("#signInPageEmailInput", username)
            .setValue("#signInPagePasswordInput", password)

          // and we simulate a mouse click
          .click("#signInToAppButton").pause(1000)

        return this; // allows the command to be chained.
      };
    {{/prism}}



      <h2 id="isomorphicValidation">Isomorphic Validation Testing</h2>
      <hr>
      <p>
        When we talk about ismorphic validation testing, we're referring to our testing APIs being consistent in different environments.  Specifically, we're interested in making sure that our validation tests can be written the same for both application code and package code (it used to be the case that TinyTest was used for packages; and Nightwatch for application code).
        <br><br>
        To achieve this, we need to be able to do a couple of things:  first, we need to be able to include validation tests with our components.  And second, we need Nightwatch to be able to find those tests and commands.  The good news is that Nightwatch allows us to specificy the source directories it expects to find tests in.  So what we did was we wrote the <code>starrynight generate-autoconfig</code> command which will scan the filesystem looking for directories named <code>.tests</code>, and builds a custom <code>.meteor/nightwatch.json</code> config file with the paths to all of our tests.
      </p>
      {{#prism language="bash" class="line-numbers"}}
        starrynight generate-autoconfig
      {{/prism}}

      <p>
        After running that command and scanning the filesystem, StarryNight will update the <code>custom_commands_path</code>.  In the following example, we've created a number of components as part of an ActiveUser pattern, and are in the middle of refactoring them into packages.  Each component has a <code>.tests</code> directory, and StarryNight added 8 new references to our config file.
      </p>
      {{#prism language="javascript" class="line-numbers" data-line="11-18"}}
        {
          src_folders: [
            "./tests/nightwatch/walkthroughs"
          ],
          output_folder: "./tests/nightwatch/reports",
          custom_commands_path: [
            "./tests/nightwatch/commands",
            "./tests/nightwatch/commands/components",
            "./tests/nightwatch/commands/methods",
            "./tests/nightwatch/commands/actions",
            "client/app/components/activeUser/userEditPage/.tests",
            "client/app/components/activeUser/userImageGridPage/.tests",
            "client/app/components/activeUser/userNewPage/.tests",
            "client/app/components/activeUser/userPreviewPage/.tests",
            "client/app/components/activeUser/userUpsertPage/.tests",
            "packages/activeUser/userUpsertPage/.tests/actions",
            "packages/activeUser/usersListPage/.tests",
            "packages/activeUser/usersTablePage/.tests"
          ],
          custom_assertions_path: [
            "./tests/nightwatch/assertions"
          ],
          globals_path: "./tests/nightwatch/globals.json"
        }
      {{/prism}}

      <p>
        When we now run Nightwatch, we'll include validation tests from the server, client, and from packages.  What's more, we don't have to worry about any of these tests being shipped to the client, since they're all located in dot directories which are hidden during the bundling process.
      </p>

      {{#prism language="bash" class="line-numbers"}}
        starrynight run-tests --framework nightwatch
      {{/prism}}



      <h2 id="clientObjects">Inspecting Client Objects</h2>
      <hr>
      <p>
        It's also possible to inspect Javascript objects on the browser using Validation tests.  This is a murky gray area of Validation/Verification testing, since access javascript objects from the browser console isn't the primary application interface; yet, it's exposed to the user.  Nonetheless, it's an important usecase to consider, because it allows us to step away from testing the document object model, and allows us to test what's running in the Javascript Virtual Machine (JVM).
        <br><br>
        To inspect client objects, we need to use Selenium's <a href="http://nightwatchjs.org/api#execute"><code>.execute()</code></a> protocol,  add tests within the callback, and wrap it all up in a custom Nightwatch command that we can method chain with.  In the following example, we're checking the global Session object for a particular session variable, and checking that it both exists and matches an expected value.
      </p>
      {{#prism language="javascript" class="line-numbers"}}
        // syncrhonous version; only works for checking javascript objects on client
        exports.command = function(sessionVarName, expectedValue) {
          var client = this;
          this
            .execute(function(data){
              return Session.get(data);
            }, [sessionVarName], function(result){
              client.assert.ok(result.value);
              if(expectedValue){
                client.assert.equal(result.value, expectedValue);
              }
            })
            return this;
        };
      {{/prism}}


      <p>
        If the above code was saved in a file called <code>checkSession.js</code>, it could then be used in the following test script.
      </p>
      {{#prism language="javascript" class="line-numbers" data-line="7, 15-20"}}
        module.exports = {
          "Check Client Session" : function (client) {
            client
              .url("http://localhost:3000/list/users")
              .checkSession("loggedInUser", "Jane Doe")
              .end();
          }
        };
      {{/prism}}
      <p>
        This is the general pattern that needs to be followed for anybody who's interested in extending the [Meteor Nightwatch API](http://localhost:4000/api).
      </p>



      <h2 id="remoteProcedureCalls">Remote Procedure Calls</h2>
      <hr>
      <p>
        We can use this general method asynchronously to test Meteor Methods (more commonly known as Remote Procedure Calls (RPC)).  Consider the following methods defined on the server.

      </p>
      {{#prism language="javascript" class="line-numbers"}}
        if(Meteor.isServer()){
          Meteor.methods({
            testMethod:function(){
               return "abc";
            },
            testMethodWithInput:function(value){
               return value * 2;
            }
          });
        }
      {{/prism}}

      <p>
        Using the <code>.executeAsyng()</code> protocol, we access the <code>Meteor</code> object, run it's <code>call()</code> method, and contact the server.  (Which is something that a user could theoretically do, if they just happened to know that the RPC endpoint existed.)
      </p>

      {{#prism language="javascript" class="line-numbers"}}
        exports.command = function(methodName, arguments, callback) {
            var self = this;
            this
              .timeoutsAsyncScript(5000)
              .executeAsync(function (meteorMethodNameAndArguments, meteorCallback) {
                  var meteorMethodName = meteorMethodNameAndArguments[0];
                  var meteorArguments = meteorMethodNameAndArguments[1];
                  Meteor.call(meteorMethodName, meteorArguments, function (meteorError, meteorResult) {
                      var response = (meteorError ? { error: meteorError } : { result: meteorResult });
                      meteorCallback(response);
                  });
              }, [[methodName, arguments]], function (response) { // you need to pass an ARRAY of ONE argument, must be a bug
                  if (response && response.value && response.value.error) {
                      throw 'Meteor apply (call) returned an error: ' + response.value.error;
                  } else if (typeof callback === 'function') {
                      callback(null, response.value.result)
                  }
              });

            return this;
        };
      {{/prism}}


      <p>
        If we saved the above code in a file called <code>meteorCall.js</code>, we'd then be able to write a test script like the following:
      </p>
      {{#prism language="javascript" class="line-numbers" data-line="7, 15-20"}}
        module.exports = {
          "Check Server Methods" : function (client) {

            var sessionBar = false;
            client
              .url("http://localhost:3000/list/users")
              .meteorCall("testMethod", false, function(error, result){
                client.assert.equal(result, "abc");
              })
              .meteorCall("testMethodWithInput", 3, function(error, result){
                client.assert.equal(result, 6);
              })
              .end();
          }
        };
      {{/prism}}









  </section>
</template>
