<template name="architecture">
  <div id="architecture">

    <h2>System Architecture</h2>
    <hr>
    <p>
      StarryNight itself is a fairly simply tool for launching node testing utilities for Meteor apps, with the intent of getting them ready for FDA regulatory approval.  What makes it sophisticated is that it works within the Meteor ecosystem, which itself is rather complex, and it integrates a number of different technologies to use a common isomorphic API across tools, utilities, and technology layers.
      <!-- The following system architecture is what StarryNight is being coded towards.  We're mostly complete with this entire architecture (due to the amazing work of Andrei Rusu), with only the mocha and cucumber libraries left to integrate.  We have the cucumber integration path figured out; and the the mocha integration is in the pipeline for next-month.  The goal is to eventually have an isomorphic testing framework, that uses the same testing API on client, server, and packages, and this is how we intend to implement it. -->
    </p>
    <p>
      StarryNight is responsible for launching various testing framework; specifically Nightwatch and Gagarin, which are responsible for connecting to the Seleniuim server, then using ChromeDriver to connect to an automated browser that will walk through the tests scripts for you.  We use Nightwatch for the Validation or 'front end' tests; while we use Gagarin for the Verification or 'back end' tests.  StarryNight is able to launch both the Nightwatch Validation and Gagarin Verification tests on continuous integration servers, such as Circle, Travis, and SauceLabs.

    </p>
    <img id="architectureDiagram" src="architectureDiagrams/StarryNightArchitecture.PNG" alt="" />



    <h2>Test Runners</h2>
    <hr>
    <p>
      StarryNight itself is mostly just a launcher for other node applications.  It just keeps a <a href="https://github.com/awatson1978/starrynight/tree/master/tool/frameworks">config file for each framework it supports</a>, and provides some <a href="https://github.com/awatson1978/starrynight/blob/master/tool/run-framework.js">syntactic sugar</a> to standardize the APIs between the testing utilities.  We'll accept pull requests for most any framework that people want to include in StarryNight.
    </p>
    <ul>
      <li><a href="http://nightwatchjs.org/">Nightwatch</a></li>
      <li><a href="https://github.com/anticoders/gagarin">Gagarin</a></li>
      <li><a href="https://www.npmjs.com/package/spacejam">SpaceJam</a></li>
    </ul>

    <h2>Isomorphic Testing API</h2>
    <hr>
    <p>
      Over the past year, there's been a general trend for most testing utilities in the Meteor ecosystem to support Mocha and Chai syntax to some extent.  If there's an isomorphic testing API emerging, it's with those two libraries.  Nightwatch and Gagarin both support Chai expect() syntax and Mocha describe/it syntax.
    </p>
    <ul>
      <li><a href="https://mochajs.org/">Mocha</a></li>
      <li><a href="http://chaijs.com/">Chai</a></li>
    </ul>
    <p>

    </p>

    <h2>Browser Automation</h2>
    <hr>
    <p>
      As many people have discovered, testing webapps often involves an automated test browser.  One of the things that StarryNight does is it makes sure that the necessary browser automation technologies are installed on your workstation; and it then goes a step further and makes sure that both Nightwatch and Gagarin are using the same Selenium and ChromeDriver instance.
    </p>
    <ul>
      <li><a href="http://www.seleniumhq.org/">Selenium</a></li>
      <li><a href="https://sites.google.com/a/chromium.org/chromedriver/">ChromeDriver</a></li>
      <li><a href="http://phantomjs.org/">Phantom JS</a></li>
      <li><a href="https://ftp.mozilla.org/pub/firefox/releases/35.0/">Firefox</a></li>
    </ul>


    <h2>Continuous Integration Services</h2>
    <hr>
    <p>
      Unlike other testing utilities, StarryNight assumes that you'll be using a standard continuous integration service.  Config files for many popular services are provided.  Please note that both Nightwatch and Gagarin are known to support Travis and Circle CI; whereas we currently only have Nightwatch working on Saucelabs and Browserstack. 
    </p>
    <ul>
      <li><a href="circleci.com">Circle CI</a></li>
      <li><a href="https://travis-ci.org/">Travis CI</a></li>
      <li><a href="https://saucelabs.com/">SauceLabs</a></li>
      <li><a href="https://www.browserstack.com/">BrowserStack</a></li>
    </ul>

    <h2>IDE Integration</h2>
    <hr>
    <p>
      Besides the Mocha/Chai language isomorphism, Nightwatch and Gagarin both support ChromeDriver.  This provides a basic isomorphism between Client and Test Environment; which can be extended to a Client/Test/Editor isomorphism by using the Atom editor.
    </p>
    <ul>
      <li><a href="atom.io">Atom.io</a></li>
      <li><a href="https://github.com/awatson1978/starrynight-helper">starrynight-helper</a></li>
    </ul>

  </div>
</template>
