
<template name="userNewPage">
  <div id="userNewPage">
    <input id="usernameInput" class="glass form-control" type="text" placeholder="Title" value="{{title}}"><br>
    <textarea id="userFullNameInput"  class="glass form-control" rows="3" placeholder="Lorem ipsum dolar set et...">{{description}}</textarea><br>
    <input id="userEmailInput"  class="glass form-control" type="url" placeholder="http://www.widget.com" value="{{url}}">

    <div class="pageFooter">
      <button id="newRecordButton" class="glass-footer-btn">Save Record</button>
    </div>
  </div>
</template>
