<template name="databaseApp">
  <div id="databaseApp">
    <h2>Database App</h2>
    <hr>

    {{#prism language="bash"}}
      # API Version 3.3.0

      # create a database application
      $ meteor create database-app
      $ cd database-app

      # you might want to open your editor to follow along
      $ atom .
      $ meteor

      # add .meteor/nightwatch.json to our application
      $ starrynight generate-autoconfig

      # add acceptance tests to your application (using the nightwatch framework)
      $ starrynight scaffold --framework nightwatch

      # make sure the acceptance testing framework is running
      $ starrynight run-tests --framework nightwatch

      # add a scaffold/boilerplate to your project
      $ starrynight scaffold --boilerplate project-homepage
      $ rm database-app.*

      # add acceptance tests for the project-homepage scaffold
      $ starrynight scaffold --boilerplate project-homepage --framework nightwatch

      # run acceptance tests on the new scaffold
      $ starrynight run-tests --framework nightwatch

      # lets add some database
      $ starrynight scaffold --boilerplate client-server

      # run acceptance tests on the new scaffold
      $ starrynight run-tests --framework nightwatch

    {{/prism}}


    <h2>Prerequisites</h2>
    <hr>

    This tutorial assumes that you've followed the <a href="/examples/project-homepage">Project Homepage Tutorial</a>, and begins where it leaves off.

    <h2>Detailed Walkthrough</h2>
    <hr>

    <p>
      Adding a database and a livedata pub/sub connection using the Data Distribution Protocol (DDP) is pretty straight forward, even if you don't use a scaffold.  While the DDP pattern can be put into a single file for conciseness and brevity, we find that putting the code in separate files facilities building larger apps.  We begin by scaffolding in our boilerplate.
    </p>
    {{#prism language="bash"}}
      $ starrynight scaffold --boilerplate client-server
    {{/prism}}

    <p>
      The scaffold adds three files to our application.  The first file is in the /lib directory, and is an isomorphic definitions file.  It defines the data cursors we're going to use on the client and server; and does it a single time, keeping things DRY (Don't Repeat Yourself).
    </p>
    <img src="/databaseApp/database-a3.png" class="exampleScreenshot" />

    <p>
      The second file is our data publication file on the server, which creates two livedata publications.  Typically you'll only need one of these publications; but we include both for convenience sake.
    </p>
    <img src="/databaseApp/database-a2.png" class="exampleScreenshot" />

    <p>
      The third file is our subscription file, which subscribes the client to the server's publication.  Note that we're using a Session variable to subscribe to our subscription.  We can update the Session variable from throughout our application, which will trigger a publication resubscription.  This can be both a good thing or a bad thing.  (Don't be scared of the global Session variable; but don't overuse them either.)
    </p>
    <img src="/databaseApp/database-a1.png" class="exampleScreenshot" />


    <p>
      At this point, if we open up the client browser console, we can insert data into the server database.  Look for data in the local cursor by using <code>Records.find().fetch()</code>, which should return zero records initially.  Then try inserting a record with <code>Records.insert({foo: "lorem ipsum"})</code>.  When we run <code>Records.find().fetch()</code> we should find our record sitting in the local client cursor.
    </p>
    <img src="/databaseApp/database-d.png" class="exampleScreenshot" />

    <p>
      But that's not the exciting part.  The exciting part is if we take a look at the server database.  Open Robomongo and connecto to port 3001 on the localhost (the database port is +1 whatever the application is launched as), and connect to the default <code>meteor</code> database.  We should see a <code>records</code> collection, containing our record!  What's happened is that the minimongo cursor on the client has acted as a replica set, and replicated the data to the other member of the Mongo database.
    </p>
    <img src="/databaseApp/database-e.png" class="exampleScreenshot" />

    <p>
      This is great functionality.  So lets make it more relevant to an app we might be building.  Lets assume we're building a weblog.  The scaffold is written with the intention of doing a refactor after it's done.  To do so, simple press <b><code>command + shift + F</code></b> while using Atom, and the Searcn and Replace dialog should open.  The client-server scaffold is keyed to the <code>record/Record</code> keyword.  So simply do a search for <code>record</code>, and replace it with <code>post</code>.
    </p>
    <img src="/databaseApp/database-refactor-1.png" class="exampleScreenshot" />

    <p>
      Be careful about punctuation and pluralization.  You'll need to run the search twice to get both uppercase and lowercase instances of the pattern.  But if you specify the unpluralized version, you can do a mixed-case refactor in only 2 steps instead of 4.
    </p>
    <img src="/databaseApp/database-refactor-2.png" class="exampleScreenshot" />

    <p>
      Once your refactor is done, your code should be filled with Post references instead of Record references.  As your application gets bigger, this is going to be a key tool in adding functionality and maintaining your codebase.  However, the bigger your refactor, and the more places you change your code during a find-and-replace, the more opportunities there are for things to break.  This is where having a QA system becomes invaluable.  Doing larger find-and-replace refactors is suicidal without a test suite watching your back.
    </p>
    <img src="/databaseApp/database-refactor-3.png" class="exampleScreenshot" />

    <p>
      So lets run our tests again
    </p>
    {{#prism language="bash"}}
      $ starrynight run-tests --framework nightwatch
    {{/prism}}
    <br>
    <br>

    <p>
      And we see that they're all still green.  We added a complex piece of functionality to our app without breaking anything.  Win!
    </p>
    <img src="/databaseApp/database-b.png" class="exampleScreenshot" />


    <p>
      Next steps might include adding an ActiveRecord pattern, or an Analytics Pipeline.
    </p>

  </div>
</template>
