<template name="userUpsertPage">
  <div id="userUpsertPage" class="page">
    <header class="pageHeader">
      <i class="indexButton fa fa-chevron-left"></i>
      <h4 class="userId barcode">{{_id}}</h4>
      <button id="userImageGridButton">
        <i class="imageGridButton fa fa-th"></i>
      </button>
      <button id="userListButton">
        <i class="listButton fa fa-list"></i>
      </button>
      <button id="userTableButton">
        <i class="tableButton fa fa-table"></i>
      </button>

      {{#if _id}}
        <i class="lockButton fa {{getLockIcon}}"></i>
      {{/if}}
    </header>

    <div id="userUpsertCard" class="card-contents">

      <div id="userMetaData">
        <div id="userMetaInputs">
          <input id="userTitleInput" class="glass form-control" type="text" placeholder="Full Name" value="{{profile.name}}" {{isReadOnly}}><br>
          <input id="userUrlInput"  class="glass form-control" type="url" placeholder="http://www.widget.com" value="{{url}}" {{isReadOnly}}>
          <input id="userImageUrlInput"  class="glass form-control" type="url" placeholder="http://www.widget.com/cog.jpg" value="{{profile.avatar}}" {{isReadOnly}}>

        </div>
        <img id="userImage" src="{{profile.avatar}}" />
      </div>
      <textarea id="userDescriptionInput"  class="glass form-control" rows="10" placeholder="Lorem ipsum dolar set et..." {{isReadOnly}}>{{description}}</textarea><br>
    </div>

    <footer class="pageFooter">
      <button id="saveRecordButton">
        <i class="fa fa-dot-circle-o"></i>
        <i class="fa fa-dot-circle-o"></i>
        <i class="fa fa-dot-circle-o"></i>
      </button>
      {{#if _id}}
        <button id="removeRecordButton">
          <i class="fa fa-times"></i>
          <i class="fa fa-times"></i>
          <i class="fa fa-times"></i>
        </button>
      {{/if}}
    </footer>
  </div>
</template>
