<template name="projectHomepage">
  <div id="projectHomepage">
    <h2>Project Homepage</h2>
    <hr>
    {{#prism language="bash"}}
      # API Version 3.3.0

      # create a helloworld application
      $ meteor create helloworld
      $ cd helloworld

      # you might want to open your editor to follow along
      $ atom .
      $ meteor

      # add .meteor/nightwatch.json to our application
      $ starrynight generate-autoconfig

      # add acceptance tests to your application (using the nightwatch framework)
      $ starrynight scaffold --framework nightwatch

      # make sure the acceptance testing framework is running
      $ starrynight run-tests --framework nightwatch

      # add a scaffold/boilerplate to your project
      $ starrynight scaffold --boilerplate project-homepage
      $ rm helloworld.*

      # add acceptance tests for the project-homepage scaffold
      $ starrynight scaffold --boilerplate project-homepage --framework nightwatch

      # run acceptance tests on the new scaffold
      $ starrynight run-tests --framework nightwatch

    {{/prism}}
    <h2>Prerequisites</h2>
    <hr>

    This tutorial assumes that you've followed the <a href="/examples/testing-quickstart">Testing Quickstart</a>, and begins where it leaves off.

    <h2>Detailed Walkthrough</h2>
    <hr>

    <p>
      StarryNight is a lot more than just its testrunner.  It was originally conceived as an FDA testing tool; but it's become a lot more....  a place to put scripts instead of the Meteor Cookbook; a life-cycle management utility that manages scaffolding, testing, auditing, and deployment; and something of an alternative place to put functionality that we'd like to see in the meteor tool (but that we know will be politically difficult to get through the pull-request process).
    </p>
    <p>
      The Testing Quickstart example introduced the scaffolding tool, as we copied the default Nightwatch test files into the application.  Our scaffolding tool can do a whole lot more, however.  We also have a number of commonly used application boilerplates available, which can be specified with the <b>--boilerplate</b> argument.
    </p>

        {{#prism language="bash"}}
          $ starrynight scaffold --boilerplate project-homepage
        {{/prism}}
    <br>
    <br>
    <p>
      When we run the scaffolding tool with the ``--boilerplate project-homepage`` argument, an appLayout component is added to /client, and a mainPage component is added to /client/mainPage.  In this example, we use the term 'component' to mean a collection of html, js, and css with the same filename, representing the Model, View, and Controller (MVC), and which represent a distinct chunk of UI.
    </p>

    <img src="/projectHomepage/projectHomepage-b.png" class="exampleScreenshot" />

    <p>
      The helloworld component - which the meteor tool creates by default - and the newly created appLayout component, they both write code directly to the <b>body</b> tag.  Meteor is smart enough to bundle this code together, which results in our project homepage having a 'Click Me' button in the corner.
    </p>
    <img src="/projectHomepage/projectHomepage-a.png" class="exampleScreenshot" />

    <p>
      We want to get rid of the 'Click Me' button, so we're going to remove the default helloworld component.
    </p>

        {{#prism language="bash"}}
          $ rm helloworld.*
        {{/prism}}
        <br>
        <br>

    <p>
      Our application should automatically reload, and we have a nice static webpage to use as a homepage.
    </p>
    <img src="/projectHomepage/projectHomepage-c.png" class="exampleScreenshot" />

    <p>
      Looking at the code, we see a nicely structured application, which has a layout template, and components that get rendered in subcomponents stored within directories.
    </p>
    <img src="/projectHomepage/projectHomepage-d.png" class="exampleScreenshot" />

    <p>
      The reason that the mainPage component get's its own folder, while the appLayout does not, is because there's a common convention within the /client folder to organize code spatially.  Specifically, it's common to nest components within subdirectories according to either a) how nested they are along the z-axis of the webpage, or b) how nested they are within spacebar helpers and routing yields.  Looking at our project-homepage in Firefox's 3D view, we can see how the mainPage layers on top of the innerPanel/mainPanel/transparentPanel.
    </p>
    <img src="/projectHomepage/projectHomepage-3d.png" class="exampleScreenshot" />

    <!-- <img src="/projectHomepage/projectHomepage-e.png" class="exampleScreenshot" /> -->
    <p>
      Now that we've added new components to our application, lets make sure we have a test script for our new components.
    </p>
        {{#prism language="bash"}}
          $ starrynight scaffold --boilerplate project-homepage --framework nightwatch
        {{/prism}}
        <br>
        <br>

    <p>
      We find that a file called appLayout.js has been added to /tests/nightwatch/walkthroughs.  After navigating to the main page, it checks for the existence of the new elements we just added.
    </p>

    <img src="/projectHomepage/projectHomepage-g.png" class="exampleScreenshot" />

    <p>
      At this point, we can run our tests again to make sure that we're green and good to go.
    </p>
        {{#prism language="bash"}}
          $ starrynight run-tests --framework nightwatch
        {{/prism}}
        <br>
        <br>

    <p>
      We are.  We now have 4 tests passing green.  Time to commit our changes to version control and publish online.
    </p>
    <img src="/projectHomepage/projectHomepage-f.png" class="exampleScreenshot" />

    <h2>Next Steps</h2>
    <hr>

    <p>
      At this point, our application is fully under quality control, and we're ready to refactor code or add a new feature.  This would be a great time to either <a href="http://localhost:4000/examples/database-app">add a database and become a database driven app</a>, or <a href="http://localhost:4000/examples/multi-page-app">add a client-side router and create a multi-page app</a>.
    </p>


  </div>
</template>
