<template name="infoPage">
  <div id="infoPage" class="page">

    <h1>Periodic Table Demo</h1>
    <h4>Meteor Version of the Famo Periodic Table Demo</h4>

    <h2>What this about?</h2>
    <hr>
    <p>
      Famo.us caused quite a splash a few years ago with their Periodic Table demo.  The original demo is such an old version of Famo that it's difficult for people to even run, and none of the APIs are the same as what eventually got implemented.  So, this is an attempt to create a new version of the Periodic Table, which everybody loved, and to add to it the realtime database goodness that Meteor can provide.
    </p>


    <h2>Installation</h2>
    <hr>
    <div class="code">
      <code>
        git clone http://github.com/awatson1978/meteor-cookbook/examples/periodic-table
      </code>
    </div>


    <h2>Usage</h2>
    <hr>
    <div class="code">
      <code class="monospace">
        <span class="gray">launch the webapp</span><br>
        $ meteor <br>
      </code>
    </div>


    <h2>License</h2>
    <hr>
    <p>
      MIT.  Use as you will.
    </p>

  </div>
</template>
