<template name="aboutPage">
  <div id="aboutPage" class="page">

    <h4 class="center">About</h4>
    <hr class="no-lower-margin">
    <h6>Copyright</h6>
    <p>2015, Pentasyllabic Studios, LLC</p>


    <hr class="no-lower-margin">
    <h6>Licensing</h6>
    <p>This application is open sourced under the MIT license, and is based off of the excellent Meteor Todos example.  While the code is open-sourced, all branding and marketing content is copyrighted and trademarked.  If you wish to fork the project, please replace all images and text.</p>


    <hr class="no-lower-margin">
    <h6>Proceeds</h6>
    <p>All proceeds of this application will go towards a) FDA, CCHIT, and/or HIPAA compliance, b) continuing medical education, or c) personal health insurance.</p>

    <hr class="no-lower-margin">
    <h6>Author</h6>
    <p>
      Abigail Watson is a graduate of the University of Chicago, and holds a B.A. in the History, Philosophy, and Social Studies of Science and Medicine.  Her focus was in bioinformatics, and she later worked in the healthcare IT industry for 10 years supporting EMR systems before they were cool.  She now runs her own design studio and creates clinical applications like this one.
    </p>

    <div class="fullwidth centered">
      <img src="/abigail.watson.jpg" alt="" class="profileImage img-circle" />
      <br>
      <h3>Abigail Watson</h3>
      <h5>Clinical Applications Architect</h5>
    </div>

    <br>


  </div>
</template>
