
<template name="recordNewPage">
  <div id="recordNewPage">
    <input id="fooTitleInput" class="glass form-control" type="text" placeholder="Title" value="{{title}}"><br>
    <textarea id="fooDescriptionInput"  class="glass form-control" rows="3" placeholder="Lorem ipsum dolar set et...">{{description}}</textarea><br>
    <input id="fooUrlInput"  class="glass form-control" type="url" placeholder="http://www.widget.com" value="{{url}}">

    <div class="pageFooter">
      <button id="newFooButton" class="glass-footer-btn">Save Foo</button>
    </div>
  </div>
</template>
