<template name="fooUpsertPage">
  <div id="fooUpsertPage" class="page">
    <header class="pageHeader">
      <i class="indexButton fa fa-chevron-left"></i>
      <h4 class="recordId barcode">{{_id}}</h4>
      <i class="imageGridButton fa fa-th"></i>
      <i class="listButton fa fa-list"></i>
      <i class="tableButton fa fa-table"></i>
      {{#if _id}}
        <i class="lockButton fa {{getLockIcon}}"></i>
      {{/if}}
    </header>

    <div id="fooUpsertCard" class="card-contents">

      <div id="fooMetaData">
        <div id="fooMetaInputs">
          <input id="fooTitleInput" class="glass form-control" type="text" placeholder="Title" value="{{title}}" {{isReadOnly}}><br>
          <input id="fooUrlInput"  class="glass form-control" type="url" placeholder="http://www.widget.com" value="{{url}}" {{isReadOnly}}>
          <input id="fooImageUrlInput"  class="glass form-control" type="url" placeholder="http://www.widget.com/cog.jpg" value="{{imageUrl}}" {{isReadOnly}}>

        </div>
        <img id="fooImage" src="{{imageUrl}}" />
      </div>
      <textarea id="fooDescriptionInput"  class="glass form-control" rows="10" placeholder="Lorem ipsum dolar set et..." {{isReadOnly}}>{{description}}</textarea><br>
    </div>

    <footer class="cardFooter">
      <button id="saveFooButton">
        <i class="fa fa-dot-circle-o"></i>
        <i class="fa fa-dot-circle-o"></i>
        <i class="fa fa-dot-circle-o"></i>
      </button>
      {{#if _id}}
        <button id="removeFooButton">
          <i class="fa fa-times"></i>
          <i class="fa fa-times"></i>
          <i class="fa fa-times"></i>
        </button>
      {{/if}}
    </footer>
  </div>
</template>
