<template name="exampleMenu">
  <div id="exampleMenu">
    <div id="leftExampleMenu" class="col-left">
      <h2>Validation Walkthroughs</h2>
      <hr>

        <h4><a href="/examples/testing-quickstart">Testing Quickstart</a></h4>
        <h4><a href="/examples/project-homepage">Create a Project Homepage</a></h4>
        <h4><a href="/examples/multi-page-app">Create a Multi-Page App</a></h4>
        <h4><a href="/examples/database-app">Create a Database Driven App</a></h4>
        <h4><a href="/examples/tinytests">TinyTests Walkthrough</a></h4>
        <h4><a href="/examples/refactor-a-package">Extract A Package</a></h4>


        <!--
        DEFINITE
        <a href="#">Using a Cloud Based Continuous Integration Service</a>
        <a href="#">Adding ActiveRecord </a>
        <a href="#">Create a Mobile App</a>
        <a href="#">Create a MultiActor App</a>
        <a href="#">Create a HIPAA Compliant App</a>
        <a href="#">Create a Weblog</a>
        <h4><a href="/examples/rest-api">Create a REST Service</a></h4>
        -->


        <!--
        RETHINK PATTERN COMMAND
        <h4><a href="/examples/mobile-app">Cloning and Refactoring a Marketing Page</a></h4>
        <h4><a href="/examples/everything-app">Everything App (Large App Tutorial)</a></h4> -->


        <!--
        MAYBE
        <a href="#">Create an Application Workflow</a>
        <h4><a href="/examples/debugging-a-project">Debugging a Project</a></h4>
        <h4><a href="/examples/unit-tests">Unit Tests Walkthrough</a></h4>
        -->

      <!-- <hr> -->
    </div>
    <div id="rightExampleMenu" class="col-right">
      <h2>Verification Examples</h2>
      <hr>

        <h4><a href="https://github.com/clinical-meteor/clinical-active-entry/blob/master/tests/gagarin/activeEntryTests.js">Accounts Login/SignUp</a></h4>
        <h4><a href="https://github.com/clinical-meteor/clinical-user-model/blob/master/tests/gagarin/UserTests.js">User Model</a></h4>
        <h4><a href="https://github.com/clinical-meteor/clinical-schema-hydrator/blob/master/tests/gagarin/SchemaHydratorTests.js">Autoform Schemas</a></h4>
        <h4><a href="https://github.com/clinical-meteor/clinical-router/blob/devel/tests/gagarin/RouterTests.js">Basic Page Routing</a></h4>
        <h4><a href="https://github.com/clinical-meteor/clinical-hipaa-audit-log/blob/master/tests/gagarin/HipaaAuditLogTests.js">Hipaa Audit Logs</a></h4>
        <h4><a href="https://github.com/clinical-meteor/clinical-extended-api/blob/master/tests/gagarin/ExtendedApiTests.js">Extended Core API</a></h4>
        <h4><a href="https://github.com/clinical-meteor/clinical-collaborations/blob/master/tests/gagarin/ScenarioPublicationTests.js">Publication/Subscriptions with Security</a></h4>
        <h4><a href="https://github.com/clinical-meteor/clinical-env/blob/master/tests/gagarin/EnvTests.js">Client Side Environment Variables</a></h4>






    </div>
  </div>
</template>
