
<template name="usersListPage">
  <div id="usersListPage" class="page">
    {{> pageNavHeader }}

    <input id="userSearchInput" type="text" class="glass fullwidth form-control" placeholder="search..." value="{{getUserSearchFilter}}" />
    <ul id="usersUnorderedList">
      {{#if hasNoContent}}
        <li id="noResultsMessage" class="addUserItem">
          <article class="noResultsMessage">
            <span>There are no results!  Click to add one.</span>
          </article>
          <div class="fadeAway"></div>
        </li>

      {{else}}
        {{#each usersList}}
          <li class="userItem">
            <article>
              <h2 class="titleText">{{title}}</h2>
              <span class="pull-right barcode gray idText">{{_id}}</span><br>
              <span class="descriptionText">{{description}}</span>
            </article>
            <div class="fadeAway"></div>
          </li>
        {{/each}}
      {{/if}}

    </ul>
    {{> pageNavFooter }}
  </div>
</template>
