<template name="plantEditPage">
  <div id="plantEditPage" class="page">
    <header class="pageHeader">
      <i class="indexButton fa fa-chevron-left"></i>
      <h4 class="recordId barcode">{{_id}}</h4>
      <i class="imageGridButton fa fa-th"></i>
      <i class="listButton fa fa-list"></i>
      <i class="tableButton fa fa-table"></i>
    </header>

    <div id="plantEditCard" class="card-contents">
      <input id="plantTitleInput" class="glass form-control" type="text" placeholder="Title" value="{{commonName}}"><br>
      <input id="plantUrlInput"  class="glass form-control" type="url" placeholder="http://www.widget.com" value="{{url}}">
      <textarea id="plantDescriptionInput"  class="glass form-control" rows="10" placeholder="Lorem ipsum dolar set et...">{{notes}}</textarea><br>
    </div>

    <div class="pageFooter">
      <button id="editPlantButton" class="glass-footer-btn">Save Plant</button>
    </div>
  </div>
</template>
