
<template name="userNewPage">
  <div id="userNewPage">
    <input id="userTitleInput" class="glass form-control" type="text" placeholder="Title" value="{{title}}"><br>
    <textarea id="userDescriptionInput"  class="glass form-control" rows="3" placeholder="Lorem ipsum dolar set et...">{{description}}</textarea><br>
    <input id="userUrlInput"  class="glass form-control" type="url" placeholder="http://www.widget.com" value="{{url}}">

    <div class="pageFooter">
      <button id="newUserButton" class="glass-footer-btn">Save User</button>
    </div>
  </div>
</template>
