<head>
  <title>starrynight-website</title>
</head>


<template name="hello">
  <div id="hello">
    <h1>StarryNight</h1>
    <h4>Meteor Testing and Scaffolding Tool; v 3.3.1</h4>

    <h2>What is StarryNight?</h2>
    <hr>
    <p>
      StarryNight is a managment tool for use in building and testing <a href="http://www.meteor.com/">Meteor.js</a> applications.  It's main intent is for creating HIPAA and FDA compliant Meteor apps (but it's useful for a lot more than that).  Because Meteor is still young and focused on maximizing productivity, gaining marketshare, and rapid prototyping, most of the tool-kits you’ll find tend toward those goals.
      <br><br>
      StarryNight begs to differ on one critical point -- quality first!   Meteor is an ideal platform for building healthcare apps that deal with biometrics, genomics, and other big data.  So, lets make sure we have industrial grade quality assurance tools, with the goal of getting apps approved by the FDA and into production.
      <br><br>
      StarryNight provides a minimalistic command line tool for system architects.  As the architect you specify the scaffolds your developer teams must use, and the code quality standards to which they must comply and set them to work.  When problems arise you adjust the standards, and StarryNight rolls them into the work being done.  Essentially, StarryNight's standards compliance focus helps you enforce software quality.
      <br><br>
      StarryNight is for anybody who wants to build an app that someone's health or wellbeing may depend on, and needs to manage federal, state, and/or market regulatory review and audits.  This tool is for anybody who needs a quality control system for their team, and who wants to eliminate bugs from their applications.
      <br><br>
      It's a direct result of 2 years of working on the <a href="http://github.com/awatson1978/meteor-cookbook.git">Meteor Cookbook</a> and the <a href="http://clinical.meteor.com">Clinical Meteor Track</a>, and makes extensive use of <a href="http://nightwatchjs.org/">Nightwatch.js</a>.
    </p>


    <h2>Installation</h2>
    <hr>
    You'll need to install <a href="https://support.apple.com/kb/DL1572?locale=en_US">Java for OSX</a>.  Then run:
    {{#prism language="bash"}}
        npm install starrynight -g
    {{/prism}}
    <p>
      StarryNight now supports dynamic Npm prefixing, which means that, in theory, it should install correctly on Linux and Windows.  We've had some success with Linux, but less success with Windows.  Log a ticket if you have any problems.   Better yet, give us a shout-out if you actually *do* get it installed on environments other than Mac.  @awatson1978, forums.meteor.com, etc.
    </p>




    <h2>Commands</h2>
    <hr>
    <div class="horizontally-padded">
      <p>
        <b>help</b><br>
        Prints out some information on commands that can be run and what arguments they take.
      </p>
      <p>
        <b>run-framework</b><br>
        Launches a specific test framework and running.  Currently officially supports <b>--nightwatch</b> and <b>tinytest-ci</b>.  For experimental support, please check the source code.
      </p>
      <p>
        <b>run-tests</b><br>
        Alias for <b>run-framework</b>.  Will eventually support <b>--verfication</b>, <b>--validation</b>, <b>--client</b>, <b>--server</b>, and <b>--all</b> flags.
      </p>
      <p>
        <b>display-env</b><br>
        Display all the environment variables for Meteor (there's approximately 60 of them).
      </p>
      <p>
        <b>audit-permissions</b><br>
        Primarily for any EACCESS errors, or if you find yourself running commands with 'sudo'.  Will modify file permissions on relevant files.
      </p>
      <p>
        <b>scaffold</b><br>
        Copies parts of the <a href="/scaffolding" target="_blank">Reference Scaffold</a> into your application.  Will overwrite existing files.  Should be run from the application root, where the .meteor directory is located.
      </p>
      <p>
        <b>clone</b><br>
        Clones a github url into the current directory.  Not very smart. Does a raw clone, with any ancillary documentation in the github repository, such as the README.md.
      </p>
      <p>
        <b>create</b><br>
        Refactors the files from a directory into a package in the /packages directory.  Must be run from the application root where the .meteor directory is located.
      </p>
      <p>
        <b>pattern</b><br>
        A 'smart-clone' which looks into a github repository for directories in the <a href="/scaffolding" target="_blank">Reference Scaffold</a>, and patches those files into your app.  Overwrites existing files.
      </p>
      <p>
        <b>rename</b><br>
        Renames directories and files according to the pattern you specify.  Is not case sensitive.  The optional directory argument will scope the rename operation within the specified subdirectory.  Run in the application parent directory to include tests in the /test directory.
      </p>
      <p>
        <b>find-and-replace</b><br>
        Basically the same as the rename command, but opens up files and replaces occurrences of the specified pattern in the code itself.
      </p>
      <p>
        <b>refactor</b><br>
        Runs both a rename and refactor command.
      </p>
      <p>
        <b>survey</b><br>
        Alias for <b>run-tests</b>.  Deprecated.  v1.x API.
      </p>
      <p>
        <b>extract-ids</b><br>
        Extracts element ids from the specified file. Best used on a Blaze/Spacebars html file.
      </p>
      <p>
        <b>extract-classes</b><br>
        Extracts element class names from the specified file. Best used on a Blaze/Spacebars html file.
      </p>
      <p>
        <b>extract-tests-for</b><br>
        Extracts ids from the specified file, and generate a Nightwatch command script.
      </p>
      <p>
        <b>generate-release-json</b><br>
        Generate a release.json file for use with `meteor publish-release` so you can publish a track.  (Advanced tool.)
      </p>
      <p>
        <b>generate-ci</b><br>
        Add the configuration file of a "ci" provider to your application to get started with  continuous integration.  The command assumes that you're using the <a href="/scaffolding" target="_blank">Reference Scaffold</a>, and your app is located in a /webapp directory. Currently the choices are : <ul>
          <li>starrynight generate-ci --provider travis</li>
          <li>starrynight generate-ci --provider circleci</li>
        </ul>
      </p>
      <p>
        <b>autoconfig</b><br>
        Generates the <b>.meteor/nightwatch.json</b> config file for Nightwatch to use.  Parses the application and searches for .test directories, which allows you to keep tests with their associated components.
      </p>
      <p>
        <b>compact</b><br>
        Recursively searches for <b>.meteor/local/build</b> and <b>screenshot</b> directories which it will then delete to save space on your diskdrive.  Can be run across repositories.  Use the <b>--scan</b> flag to nondestructively scan.
      </p>
      <p>
        <b>fetch</b><br>
        Fetches packages directly from GitHub, bypassing the Atmosphere package server.  Alias for the <a href="https://www.npmjs.com/package/mgp">mgp</a> utility.  You will need to specify a <b>git-packages.json</b> file.
      </p>
      <!-- <hr>
      <p>
        <b>clean</b><br>
        Similar to meteor reset, but doesn't dump the database.  Clears the following directories: .meteor/local, .temp, .demeteorizer.
      </p>
      <p>
        <b>connect</b><br>
        There's a few services that people commonly like to connect their applications to, such as google-analytics and uservoice, which only require a single file copied into their app.      This will get those files in place without having to research things.
      </p>
      <p>
        <b>install-dev-tools</b><br>
        Installs common development tools for Meteor, including Atom.io.
      </p>
      -->
    </div>
    <h2>Deprecated Commands</h2>
    <hr>
    <div class="horizontally-padded">
      <p class="gray">
        <b>generate-travis (Deprecated. Use : generate-ci)</b><br>
        Add a .travis.yml file to your application to get started with continuous integration.  Command assumes that you're using the <a href="/scaffolding" target="_blank">Reference Scaffold</a>, and your app is located in a /webapp directory.
      </p>
      <p class="gray">
        <b>generate-autoconfig</b><br>
        Generates the <b>.meteor/nightwatch.json</b> config file for Nightwatch to use.  Parses the application and searches for .test directories, which allows you to keep tests with their associated components.
      </p>
    </div>


    <h2>Generic Flags</h2>
    <hr>
    <div class="horizontally-padded">
      <p>
        <b>--root</b><br>
        StarryNight generally expects to be run from the root of an application, and most commands will default to running relative from the root of the application.  The <b>--root</b> flag will adjust where a command runs relative to.  Generally used for restricting a command to running from a subdirectory.
      </p>
      <p>
        <b>--framework</b><br>
        StarryNight supports a half-dozen testing frameworks; and defaults to an integrated version that uses parts from each.  If a command supports the <b>--framework</b> flag, it will restrict the command to only modifying files associated with that particular framework.
      </p>
      <p>
        <b>--boilerplate</b><br>
        A boilerplate is a generic application scaffold that's specific to some functionality.  A boilerplate differs from a package in that it's expected you'll use a boilerplate as a starting-off point.  It's not a self-contained piece of code.  It's more like a self-contained starting point for future code development.
      </p>
      <p>
        <b>--from</b><br>
        Many commands involve copying, moving, or renaming things from one location to another.  This flag generally accepts either a relative url path or a string, depending on context.
      </p>
      <p>
        <b>--to</b><br>
        Many commands involve copying, moving, or renaming things from one location to another.  This flag generally accepts either a relative url path or a string, depending on context.
      </p>
      <p>
        <b>--url</b><br>
        Specifies that the following URL should be used as an input to the command.
      </p>
      <p>
        <b>--mode</b><br>
        Specifies a testing mode for FDA review.
      </p>
    </div>

    <h2>Global Flags</h2>
    <hr>
    <div class="horizontally-padded">
      <p>
        <b>--debug</b><br>
        Prints out debug information.
      </p>
      <p>
        <b>--trace</b><br>
        Prints out even more detailed debugging information.
      </p>
    </div>











    <!-- <h2>Continous Integration</h2>
    <hr>
    <p>
      Supports out-of-the-box support for Travis.org.  Support for BrowserStack and SauceLabs is coming soon!
    </p> -->







  </div>

</template>
