<template name="userImageGridPage">
  <article id="userImageGridPage" class="page">
    {{> pageNavHeader}}

    <input id="userSearchInput" type="text" class="glass fullwidth form-control" placeholder="search..." value="{{getUserSearchFilter}}" />

    <ul id="userImageGrid">
      {{#each lists}}
        <li>
          <img class="userImage" src="{{profile.avatar}}" />
        </li>
      {{/each}}
    </ul>
    <footer class="pageFooter">
      <h3 class="addUserIcon"><i class="fa fa-sun-o"></i></h3>
    </footer>
  </article>
</template>
