<template name="testingSidebar">
  <aside id="testingSidebar" style="{{getLeft}}" class="{{isVisible}} helveticas">
    <ul>
      <li target="introductionSection" class="large">Introduction</li>
        <li target="fdaTitle" class="small">FDA Title 21</li>
        <li target="validationVsVerification" class="small">Validation vs Verification</li>
        <li target="testingModes" class="small">Testing Modes</li>

      <li target="quickstartSection" class="large">Quickstart</li>
        <li target="supportedFrameworks" class="small">Supported Frameworks</li>
        <li target="meteorNightwatchJson" class="small">.meteor/nightwatch.json</li>

      <li target="validationSection" class="large">Validation Testing</li>
        <li target="appSurfaceCoverage" class="small">App Surface Coverage</li>
        <li target="componentSurfaceCoverage" class="small">Component Surface Coverage</li>
        <li target="componentOutput" class="small">Component Output</li>
        <li target="componentInput" class="small">Component Input</li>
        <li target="isomorphicValidation" class="small">Isomorphic Validation</li>
        <li target="clientObjects" class="small">Inspecting Client Objects</li>
        <li target="remoteProcedureCalls" class="small">Remote Procedure Calls</li>

      <li target="verificationSection" class="large">Verification Testing</li>
        <li target="describeIt" class="small">Describe It</li>
        <li target="serverClientDescribes" class="small">Server/Client</li>
        <li target="verifyingBlazeComponents" class="small">Testing Blaze Components</li>
        <li target="isomorphicVerification" class="small">Isomorphic Verification</li>

      <!-- <li target="specificationsSection" class="large">System Specifications</li>
        <li target="businessRequirements" class="small">Business Requirements</li>
        <li target="givenWhenThen" class="small">Given, When, Then</li> -->


      <li target="environmentsSection" class="large">Environments</li>
        <li target="phantomTests" class="small">Phantom Tests</li>
        <li target="cloudProviders" class="small">Cloud Providers</li>
        <li target="continuousIntegration" class="small">Continuous Integration</li>


      <li target="miscellaneousSection" class="large">Miscellaneous</li>
        <!-- <li target="restApi" class="small">REST APIs</li> -->
        <li target="fileUpload" class="small">File Uploads</li>


    </ul>
  </aside>
</template>
