
<template name="plantNewPage">
  <div id="plantNewPage">
    <input id="plantTitleInput" class="glass form-control" type="text" placeholder="Title" value="{{commonName}}"><br>
    <textarea id="plantDescriptionInput"  class="glass form-control" rows="3" placeholder="Lorem ipsum dolar set et...">{{notes}}</textarea><br>
    <input id="plantUrlInput"  class="glass form-control" type="url" placeholder="http://www.widget.com" value="{{url}}">

    <div class="pageFooter">
      <button id="newPlantButton" class="glass-footer-btn">Save Plant</button>
    </div>
  </div>
</template>
