<template name="firstTutorial">
  <div id="firstTutorial" class="code">
    {{#prism language="bash"}}
      # API Version 0.2.6

      # create a helloworld application
      $ meteor create helloworld
      $ cd helloworld

      # you might want to open your editor to follow along
      $ atom .
      $ meteor

      # add acceptance tests to your application (using the nightwatch framework)
      $ starrynight scaffold --framework nightwatch

      # make sure the acceptance testing framework is running
      $ starrynight run-tests --framework nightwatch

      # add a scaffold/boilerplate to your project
      $ starrynight scaffold --boilerplate project-homepage
      $ rm helloworld.*

      # add acceptance tests for the project-homepage scaffold
      $ starrynight scaffold --boilerplate project-homepage --framework nightwatch

      # run acceptance tests on the new scaffold
      $ starrynight run-tests --framework nightwatch

      # add more scaffolding to your project
      $ starrynight scaffold --boilerplate iron-router

      # see if our tests still work
      $ starrynight run-tests --framework nightwatch

      # add the itunes connect acceptance tests (mobile first)
      $ starrynight scaffold --boilerplate itunes --framework nightwatch

      # our tests should break
      $ starrynight run-tests --framework nightwatch

      # add extra page components and routes to our app
      $ starrynight pattern --url https://github.com/awatson1978/clinical-static-pages

      # run acceptance tests (they should break)
      $ starrynight run-tests --framework nightwatch

      # rename files throughout your app in one go
      $ starrynight rename --from about --to marketing
      $ starrynight rename --from About --to Marketing

      # find-and-replace terms throughout our app
      $ starrynight find-and-replace "AppTitle" "Hello StarryNight"
      $ starrynight find-and-replace "about" "marketing"

      # when new files are created, we sometimes want to check file permissions
      $ starrynight audit-permissions

      # run acceptance tests again (they should pass)
      $ starrynight run-tests --framework nightwatch

      # create a package
      $ mkdir packages
      $ cd packages
      $ meteor create --package foo
      $ cd ..

      # run package tests
      $ starrynight run-tests --framework tinytest-ci

      # lets add some database
      $ starrynight scaffold --boilerplate client-server

    {{/prism}}
  </div>
</template>
